.deps/
.dirstamp
.libs/
*.lo
*.log
*.o
*.swp
*.trs
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
m4/libtool.m4
m4/lt~obsolete.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
missing
test-driver
test-suite.log
src/libtss2-tcti-tabd.la
src/tss2-tabd
src/tss2-tabd-generated.c
src/tss2-tabd-generated.h
src/libutil.a
test/*_unit
test/tss2-tcti-tabd_read-write
dist/tss2-tabd.service
