.deps/
.dirstamp
.libs/
*.lo
*.log
*.o
*.swp
*.trs
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
m4/
missing
test-driver
test-suite.log
src/libtss2-tcti-tabd.la
src/tss2-tabd
test/connection-manager_unit
test/tss2tcti_init
